body {
      background-color: #E8F3D6;

    }
hr {
      border-style: none none dotted;
      border-color: grey;
      width: 4%;
      height: 10px;
      border-bottom-width: 4px;

}
h1 {
  color: #66BFBF
}
h3 {
  color: #66BFBF
}
